@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Jost:wght@300&family=Questrial&family=Rubik+Moonrocks&family=Secular+One&display=swap');

<<<<<<< HEAD
.botonesOpciones {
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: black;
    z-index: 1;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: transparent;


}

.botonesOpciones:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.8s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.botonesOpciones:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #000000;
    border-radius: 50%;
    display: block;
    transition: all 1s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.botonesOpciones:hover {
    color: #ffffff;
    font-weight: 400;

    /* border: 1px solid #39bda7; */
}

.botonesOpciones:hover:before {
    top: -35%;
    background-color: #000000;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.botonesOpciones:hover:after {
    top: -45%;
    background-color: #070707;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

=======


>>>>>>> 7f61a161888c846e1b4413503e88a4d72f4e17f8
.imgCart {
    width: 100px;
    height: auto;
}

.contenedorCart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.contenedorProductosCart {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulosTabla {
    font-size: 14px;
}

.footerCart{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.containerBotonVaciarCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;

}

.total{
    margin: 0;
}

.botonVaciarCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: ease-in-out 0.4s;
    border: none;
    text-decoration: underline;

}

.contenedorCarritoVacio1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
}


.contenedorCarritoVacio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 80%;
    background-color: rgb(184, 169, 141);
    border-radius: 5px;
}


.textoCarritoVacio {
    font-size: 35px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}



.botonCartIrTienda {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px
}


.botonEliminar {
    width: 50px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(146, 9, 9);
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}


.containerButtonFinish {
    display: flex;
    justify-content: center;
}

.buttonFinish {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 4px;
}


.buttonFinish:hover{
    background-color: rgb(146, 9, 9);

}