@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Jost:wght@300&family=Questrial&family=Rubik+Moonrocks&family=Secular+One&display=swap');



.imgCart {
    width: 100px;
    height: auto;
}

.contenedorCart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.contenedorProductosCart {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulosTabla {
    font-size: 14px;
}

.footerCart{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.containerBotonVaciarCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;

}

.total{
    margin: 0;
}

.botonVaciarCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: ease-in-out 0.4s;
    border: none;
    text-decoration: underline;

}

.contenedorCarritoVacio1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
}


.contenedorCarritoVacio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 80%;
    background-color: rgb(184, 169, 141);
    border-radius: 5px;
}


.textoCarritoVacio {
    font-size: 35px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}



.botonCartIrTienda {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px
}


.botonEliminar {
    width: 50px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(146, 9, 9);
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}


