@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Jost:wght@300&family=Questrial&family=Rubik+Moonrocks&family=Secular+One&display=swap');

img {
  max-width: 100%;
}

.cardDetail {
  margin-top: 20px;
  display: flex;
  flex-direction:  row-reverse;
  justify-content: space-around;
  padding: 3em;
  line-height: 1.5em;
  width: 95%;
}

.img{
  width: 350px;
  height: 430px;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Jost', sans-serif;
  background-color:rgb(184, 169, 141);
  border-radius: 10px;
}

.product-title{
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 35px;
}

h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.product-description{
  margin-top: 30px;
  width: 100%;
}


.price  {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
}



.product-description{
  font-size: 15px;
  text-align: justify;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}

.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}

.color:first-of-type {
  margin-left: 20px;
}










