@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Jost:wght@300&family=Questrial&family=Rubik+Moonrocks&family=Secular+One&display=swap');



.containerInputCount{
    display: flex;
    gap: 80px;
}

.inputCount{
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 10px 50px;
    font-family: 'Jost', sans-serif;
}

.inputCount:hover{
    background-color:rgb(146, 9, 9);
}