@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Jost:wght@300&family=Questrial&family=Rubik+Moonrocks&family=Secular+One&display=swap');

.card {
    
    border: 2px solid transparent;
    padding: 20px;
      margin: 0;
}

.tituloCard {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    text-align: center;


}

.imagenCard {
    width: 216px;
    height: 291px;
    transition: all ease 1s;
    cursor: pointer;
    border-radius: 7px;

}

.imagenCard:hover {
    transform: translate(10px,10px);
}


a.buttonDetail {
    text-decoration: none;
    background-color: #000000;
    font-family: 'Jost', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    transition: ease-in-out 0.4s;
    border-radius: 4px;
}

a.buttonDetail:hover{
   
    background-color: #7a7a7c;
    font-weight: bold;
    color: black;

}