@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Jost:wght@300&family=Questrial&family=Rubik+Moonrocks&family=Secular+One&display=swap');


.containerContadorTodo {
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 80%;
    padding: 20px 0 0 0;
    border-radius: 10px;
}

.containerStockContador{
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.containerContador {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
}

.containerStock{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.boton {
    padding: 5px;
    border: none;
    background-color: transparent;
    font-family: 'Jost', sans-serif;
    font-size: 14px;  
}

.containerBtnCarrito{
    background-color: black;
    border-radius: 5px;

}

.botonAgregarCarrito:hover{
    background-color: rgb(146, 9, 9);
    border-radius: 5px;

}

.botonAgregarCarrito {
    padding: 7px 15px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    background-color: black;
    color: white;
}

.numero {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 27px;
    font-weight: bold;
    margin-bottom: 0;
}
